footer {
    align-items: center;
    background-color: white;
    border: 2px solid darkmagenta;
    color: #fd4b14;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}
