<div class="app-nav">
  <ul class="nav" routerLinkActive="active">
    <li class="nav-link">Esempi di codice:</li>
    <li><a class="nav-link" routerLink="fantacalcio">DAY2 - Fantacalcio</a></li>
    <li><a class="nav-link" routerLink="binding">DAY2 - Binding</a></li>
    <li><a class="nav-link" routerLink="counter">DAY2 - Contatore</a></li>
    <li><a class="nav-link" routerLink="direttive">DAY2 - Direttive</a></li>
    <!--<li><a class="nav-link" routerLink="reactive-form">DAY3 - Form avanzate</a></li>-->
  </ul>
</div>
<div class="example-container">
  <router-outlet></router-outlet>
</div>

