/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
}

main {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1em;
}

.app-content {
  background-color: white;
  min-height: calc(100% - 132px);
  overflow: auto;
  padding: 1em;
}

h1 {
  display: block;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.custom-margin {
  margin: 1em;
  padding: 0.2em;
}

.pointer {
  cursor: pointer;
  cursor: hand;
}
